<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Acceuil{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initiale-scale-1.0">
        <link rel="stylesheet" href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

        {% stylesheets '@TutoS2UserBundle/Resources/css/*' filter='cssrewrite' output='css/style.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block nav %} {% include '::nav.html.twig' %}  {% endblock %}
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        {% block footer %} {% include '::footer.html.twig' %}  {% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="https://use.fontawesome.com/6c5e871b78.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="{{ asset("bootstrap/dist/js/bootstrap.min.js") }}"></script>
    </body>
</html>
